<button type="edit" name="Edit" (click)="currentKeg.toggleEdit()"> Edit </button>
<div *ngIf="currentKeg.editable">
  <label for="name">Name</label>
  <input [(ngModel)]="currentKeg.name" type="text" name="name" value="">
  <label for="brand">Brand</label>
  <input [(ngModel)]="currentKeg.brand" type="text" name="brand" value="">
  <label for="price">Price</label>
  <input [(ngModel)]="currentKeg.price" type="number" name="price" value="">
  <label for="abv">ABV</label>
  <input [(ngModel)]="currentKeg.abv" type="number" name="abv" value="">
</div>
