/* You can add global styles to this file, and also import other style files */

.beerDisplay{
  display:grid;
  div {
    background-color: beige;
    margin-bottom: 10px;
    width: 26em;
    height: 12em;
  }
}
